.button {
	font-size: 0.8rem;
	color: var(--foreground-color);
	background-color: transparent;
	border: 2.5px solid var(--foreground-color);
	padding: 8px;
	text-align: center;
	display: inline-block;
	border-radius: 40px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0;
}
.button:focus, .button:hover {
	background-color: var(--foreground-color);
	color: #161721;
	outline: 0;
}