h1 {
	font-family: 'lemurmure-regular', 'sans-serif';
	font-size: 3.6em;
	margin-top: -7px;
	margin-bottom: 0.6em;
	color: white;
}
h2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.06em;
	line-height: 2em;
	margin-bottom: 0;
	color: white;
}
h3 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1em;
	letter-spacing: 0.06em;
	line-height: 2em;
	margin-bottom: 0;
	color: white;
}
h4 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1em;
	font-weight: lighter;
	letter-spacing: 0.06em;
	line-height: 2em;
	margin-bottom: 0;
	color: white;
}
