h1 {
	font-family: 'lemurmure-regular', 'sans-serif';
	font-size: 3.6em;
	margin-top: -7px;
	margin-bottom: 2.2rem;
}
h2 {
	font-family: 'IBMPlexMono';
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.06em;
	line-height: 1.6em;
	margin-bottom: 0;
}
h3 {
	font-family: 'IBMPlexMono';
	font-size: 0.8em;
	letter-spacing: 0.06em;
	line-height: 1.6em;
	margin-bottom: 0;
}
h4 {
	font-family: 'IBMPlexMono';
	font-size: 1em;
	font-weight: lighter;
	letter-spacing: 0.06em;
	line-height: 1.6em;
	margin-bottom: 0;
}