div#about-page {
	div.grid-x {
		margin-top: -0.9375rem;
		margin-bottom: -0.9375rem;
	}
	div.cell {
		padding-top: 0.9375rem;
		padding-bottom: 0.9375rem;
	}
	div.team-member {
		img.team-image {
			width: 150px;
			height: 150px;
			margin-bottom: 1rem;
		}
		h2 {
			padding-bottom: 0.3rem;
		}
		h3 {
			padding-bottom: 0.6rem;
		}
	}
	footer {
		font-size: 1.4em;
		padding-top: 3rem;
	}
}