div#about-page {
	overflow: auto;
	div.team-member {
		font-size: 13px;
		color: white;
		font-family: 'IBM Plex Mono', monospace;
		width: 240px;
		height: 200px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 5px;
		position: relative;
		display: inline-table;
		img.team-image {
			width: 120px;
			height: 120px;
			margin-bottom: 10px;
			border-radius: 5%;
		}
	}
	footer {
		position: relative;
		display: block;
		width: 80%;
		font-family: 'IBM Plex Mono', monospace;
		color: #fff;
		font-size: 1.4em;
		letter-spacing: 0.06em;
		margin-top: 3rem;
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
