div#map-page {
	// Full view - bottom margin - bottom size
	height: calc(100vh - 100px - 50px);
	margin-top: 0;
	.categories {
		overflow: auto;
	}
	.map {
		height: 100%;
		.canvas-container {
			margin-right: auto;
			margin-left: auto;
		}
	}
	.grid-container {
		height: -webkit-fill-available;
	}
	.grid-x {
		height: inherit;
	}
	.categories-cell {
		// Full view - top size - bottom size
		max-height: calc(100vh - 50px);
		overflow: auto;
		white-space: nowrap;
	}
	.pois-categories-wrapper {
		display: inline-block;
		margin-top: 50px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 100px;
	}
	.pois-categories-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 164px;
	}
	.map-cell {
		// Full view - top size - bottom margin - bottom size
		max-height: calc(100vh - 50px - 100px - 50px);
		margin-top: 50px;
	}
	.button {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}
@media #{$small-only} {
	div#map-page {
		// Full view - top size - bottom margin
		height: calc(100vh - 5.25rem - 100px);
		.map-cell {
			// Full view - top size - bottom margin - margin between rows - minimum upper row height
			max-height: calc(100vh - 50px - 100px - 2rem - 10rem);
			margin-top: 2rem;
		}
		.categories-cell:after {
			left: 1rem;
			width: calc(100% - 1rem - 1rem);
			pointer-events: none;
			position: absolute;
			top: 0;
			height: 100%;
			content: '';
			background: linear-gradient(to right, var(--background-color), rgba(0, 0, 0, 0) 3rem, rgba(0, 0, 0, 0) calc(100% - 3rem), var(--background-color));
		}
		.pois-categories-wrapper {
			margin-left: 2rem;
			margin-right: 2rem;
			margin-bottom: 0;
		}
		.button {
			margin-bottom: 8px;
		}
	}
}