div#new-point-page {
    padding-top: 3rem;
    padding-bottom: 8rem;
	h1 {
		float: left;
	}
	img#back {
		float: right;
		margin-top: 1rem;
	}
	a.add-point-button{
		display: block;
		text-align: center;
		height: 50px;
		color: white;
		border-radius: 3px;
		font-size: 0.8em;
		font-family: 'IBM Plex Mono', monospace;
		background-color: $secondary-color;
		line-height: 3rem;
		margin-top: 1.5rem;
	}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
