div#poi-page {
	.grid-container {
		max-width: 680px;
	}
	.poi-paragraph {
		margin-bottom: 1.8em;
	}
	.poi-paragraph-margin-large {
		margin-bottom: 1em;
	}
	.poi-paragraph-margin-small {
		margin-bottom: 0.2em;
	}
}