.instagram-grid {
	margin-left: -0.625rem !important;
	margin-right: -0.625rem !important;
}
.instagram-cell {
	padding: 0.625rem !important;
}
.instagram-container {
	position: relative;
	padding-top: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.instagram-container .instagram-text-container {
	opacity: 0;
}
.instagram-container:hover .instagram-text-container {
	opacity: 1;
}
.instagram-text-container {
	display: flex;
	flex-direction: column;
	-webkit-justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5rem;
	background-color: rgba(89, 89, 89, 0.9);
	transition: opacity 0.3s linear;
}
.instagram-title {
	text-align: center;
	color: #fff;
	overflow: hidden;
	margin-bottom: 0.6rem;
	margin-top: 0.3rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	font-size: 0.8rem;
}
.instagram-date {
	text-align: center;
	color: #ccc;
	font-size: 0.7rem;
}