.menu-sections-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.menu-inner {
	font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8em;
    color: #fff;
    letter-spacing: 0.06em;
    width: 90px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    display: flex;
}
.active {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.a-active {
    background-color: #fff;
}
.menu-section:hover .menu-inner,
.menu-section:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.logo-container {
    text-align: center;
    height: auto;
}
.logo-wrap {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
