div#navigation {
	.menu-sections-container {
		margin-bottom: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-inner {
		color: var(--foreground-color);
		letter-spacing: 0.06em;
		width: 90px;
		line-height: 47px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-left: 10px;
	}
	.active .menu-inner {
		color: var(--background-color);
	}
	.active {
		background-color: var(--foreground-color);
	}
	.menu-section:hover .menu-inner,
	.menu-section:hover {
		background-color: var(--foreground-color);
		color: var(--background-color);
		cursor: pointer;
	}
	.last-section {
		margin-bottom: 47px;
	}
}
@media #{$small-only} {
	div#navigation {
		.menu-inner {
			width: auto;
			text-align: center;
			padding-left: 0;
		}
		.first-section {
			margin-top: 47px;
		}
	}
}