div.success-notification-container {
	position: fixed;
	z-index: 999999;
	left: 0;
	right: 0;
	top: 0;
	div.success-notification {
		background: var(--foreground-color);
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		border-left: 5px solid #00c853;
		height: 50px;
		line-height: 50px;
		margin: auto;
		width: 600px;
		margin-top: 50px;
		color: var(--background-color);
		font-size: 16px;
		img {
			margin-right: 20px;
			margin-left: 20px;
		}
	}
}
div.error-notification-container {
	position: fixed;
	z-index: 999999;
	left: 0;
	right: 0;
	top: 0;
	div.error-notification {
		background: var(--foreground-color);
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		border-left: 5px solid #ff0000;
		height: 50px;
		line-height: 50px;
		margin: auto;
		width: 600px;
		margin-top: 50px;
		color: var(--background-color);
		font-size: 16px;
		img {
			margin-right: 20px;
			margin-left: 20px;
			height: 20px;
		}
	}
}