div#points-categories {
	img.category-icon,
	li.category-name,
	li.point-name {
		display: inline-block;
		vertical-align: middle;
	}
	li.category-name,
	li.point-name {
		font-family: 'IBM Plex Mono', monospace;
		font-size: 0.8em;
		color: white;
		letter-spacing: 0.06em;
		line-height: 40px;
	}
	li.category-name {
		padding-left: 20px;
	}
	li.point-name {
		padding-left: 80px;
		font-weight: lighter;
	}
	div.category:hover li.category-name,
	div.point:hover li.point-name,
	div.category:hover,
	div.point:hover {
		background-color: white;
		color: black;
		cursor: pointer;
	}
	div.category-points {
		height: auto;
		overflow: hidden;    
		max-height: 50em;
		transition: max-height 1s;   
		@media screen and (min-width: 48em) {
			max-height: 15em;
			transition: max-height 0.5s
		}
	}
	div.category-points.collapsed {
		max-height: 0;
	}
}
