div#pois-categories {
	div.category-pois {
		height: auto;
		overflow: hidden;    
		max-height: 50em;
		transition: max-height 1s;   
		@media screen and (min-width: 48em) {
			max-height: 15em;
			transition: max-height 0.5s
		}
	}
	div.category-pois.collapsed {
		max-height: 0;
	}
}