div#pois-categories {
	img.category-icon,
	li.category-name,
	li.poi-name {
		display: inline-block;
		vertical-align: middle;
	}
	li.category-name,
	li.poi-name {
		font-family: 'IBM Plex Mono', monospace;
		color: white;
		letter-spacing: 0.06em;
		line-height: 40px;
	}
	li.category-name {
		padding-left: 20px;
	}
	li.poi-name {
		padding-left: 1rem;
		padding-right: 1rem;
		font-weight: lighter;
	}
	div.category:hover li.category-name,
	div.poi:hover li.poi-name,
	div.category:hover,
	div.poi:hover {
		background-color: white;
		color: black;
		cursor: pointer;
	}
	div.category-pois {
		height: auto;
		overflow: hidden;    
		max-height: 50em;
		transition: max-height 1s;   
		@media screen and (min-width: 48em) {
			max-height: 15em;
			transition: max-height 0.5s
		}
	}
	div.category-pois.collapsed {
		max-height: 0;
	}
}
@media #{$small-only} {
	div#pois-categories {
		min-height: 10rem;
	}
}
