div#new-point-page {
	overflow: auto;
	img#back {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}
	a.add-point-button{
		display: block;
		text-align: center;
		height: 50px;
		color: white;
		border-radius: 3px;
		font-size: 18px;
		font-family: 'IBM Plex Mono', monospace;
		background-color: $secondary-color;
		line-height: 50px;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	div#points-map-container {
		position: relative;
		width: 100%;
		height: 400px;
		top: 0px;
		div#points-map {
			position: relative;
		}
	}
}
