@font-face {
	font-family: 'lemurmure-regular';
	src: url('/fonts/lemurmure-regular.woff');
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	background-color: #000000;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.8rem;
	line-height: 1.6;
	color: $primary-color;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.top-padding {
	padding-top: 3rem;
}
.bottom-padding {
	padding-bottom: 8rem;
}
.off-canvas-wrapper {
	overflow: auto;
}
.off-canvas-content.is-open-left.has-transition-push {
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
}
.position-left {
	webkit-transform: translateX(-100vw);
	transform: translateX(-100vw);
}
.position-left.reveal-for-medium ~ .off-canvas-content {
	margin-left: 10rem;
}
.title-bar {
	z-index: 2;
	height: 3rem;
	width: 100vw;
	padding: 1rem;
	color: white;
	border-bottom: solid 2.5px white;
	position: fixed;
    top: 0;
    background: #000;
}
.menu-icon {
	outline: none;
}
.off-canvas {
	height: auto;
	width: 10rem;
	bottom: 0;
	border-right: solid 1px rgba(208, 208, 208, 0.31);
	background: none;
	transition-timing-function: ease-in-out;
}
.menu-icon[aria-expanded='true'] {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}
.menu-icon[aria-expanded='false'] {
	visibility: show;
	opacity: 1;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}
.off-canvas.is-transition-push {
	z-index: 1;
}
.js-off-canvas-overlay {
	transition-timing-function: ease-in-out, ease-in-out;
}
.js-off-canvas-overlay.is-visible {
	visibility: hidden;
}
div.off-canvas-content {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	transition-timing-function: ease-in-out;
}
div.app-page {
	height: 100%;
	overflow: auto;
	padding-left: 3rem;
	padding-right: 3rem;
}
div.footer-container {
	height: 3rem;
	width: 100%;
	bottom: 0;
	position: fixed;
	border-top: solid 2.5px #fff;
	background: #000;
}
div.back-container {
	text-align: right;
}
/*
div.background {
	position: fixed;
	height: calc(100% - 50px);
	width: 100%;
	background-color: blue;
	z-index: -3;
	mix-blend-mode: multiply;
}
div.background-surf {
	position: fixed;
	z-index: -3;
	height: calc(100% - 50px);
	width: 100%;
	background-image: url('/img/background.jpg');
	background-size: cover;
	background-position: center;
}
*/
@media #{$large-up} {
	div.off-canvas {
		margin-bottom: 3rem;
	}
	div.off-canvas-content {
		margin-bottom: 3rem;
	}
}
@media #{$small-only} {
	.position-left.reveal-for-medium ~ .off-canvas-content {
		margin-left: 0;
	}
	.top-padding {
		padding-top: 2rem;
	}
	div.app-page {
		padding-top: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	div.off-canvas {
		padding-top: 3rem;
		width: 100%;
	}
}
