@font-face {
	font-family: 'lemurmure-regular';
	src: url('/fonts/lemurmure-regular.woff');
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	background-color: #00030b;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
:root {
	cursor: auto;
	--cursorX: 50vw;
	--cursorY: 50vh;
}
:root:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	z-index: -2;
	position: fixed;
	pointer-events: none;
	background: radial-gradient(
		circle 20vmax at var(--cursorX) var(--cursorY),
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 40%,
		rgba(0, 0, 0, 0.95) 100%
	)
}
.bottom-padding {
	padding-bottom: 8rem;
}
.off-canvas-content.is-open-left.has-transition-push {
	-webkit-transform: translateX(10rem);
	transform: translateX(10rem);
}
div.title-bar {
	height: 3rem;
	background: none;
	color: white;
	border-bottom: solid 2.5px #fff;
}
div.off-canvas {
	height: auto;
	width: 10rem;
	bottom: 0;
	padding-top: 3rem;
	margin-bottom: 3rem;
	border-right: solid 1px rgba(208, 208, 208, 0.31);
	background: none;
}
div.off-canvas-content {
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 3rem;
}
div.app-page {
	height: 100%;
	overflow: auto;
}
div.footer-container {
	height: 3rem;
	width: 100%;
	bottom: 0;
	position: absolute;
	border-top: solid 2.5px #fff;
}
div.background {
	position: fixed;
	height: calc(100% - 50px);
	width: 100%;
	background-color: blue;
	z-index: -3;
	mix-blend-mode: multiply;
}
div.background-surf {
	position: fixed;
	z-index: -3;
	height: calc(100% - 50px);
	width: 100%;
	background-image: url('/img/background.jpg');
	background-size: cover;
	background-position: center;
}
@media print, screen and (min-width: 64em) {
	.position-left.reveal-for-large {
		z-index: auto;
	}
	.position-left.reveal-for-large ~ .off-canvas-content {
		margin-left: 10rem;
	}
	.top-padding {
		padding-top: 3rem;
	}
	div.app-page {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
@media print, screen and (max-width: 63.99875em) {
	.top-padding.bottom-padding {
		margin-bottom: 3rem;
	}
	.top-padding {
		padding-top: 2rem;
	}
	div.app-page {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
